<%= link_to 'New Post', new_post_path %> 
<%= link_to "My Posts", posts_path(:post), method: :get %>
<%= link_to 'Edit My Account', edit_user_path(@user) %>
<%= link_to "Sign Out", new_session_path(:user), method: :delete %>
<%= link_to 'Delete My Account', user_path, method: :delete, data: { confirm: 'Are you sure?' } %><br />


<h1><%= image_tag @user.avatar.url(:thumb) %> Welcome <%= @user.first_name %>!</h1>

