<ul>
  <li><%= link_to 'My Home', user_path(:id) %></li>
  <li><%= link_to 'New Post', new_post_path %></li>
  <li><%= link_to "Sign Out", new_session_path(:user), method: :delete %></li>
</ul>


<h1 id="my_travels">My Travels</h1>
<div id="posts">
  <% @posts.each do |post| %>
  <h3>Title:</h3>
  <p><%= post.title %></p>
  
  <h4>Description:</h4>
  <p><%= post.description %></p>
  
  <h4>Travel Date:</h4>
  <p><%= post.travel_date %></p>
  
  <h5><%= link_to 'Show', post %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></h5><br>

   <% end %>
  </div>